p{
  text-indent: 2cm;
  text-transform: capitalize;
  letter-spacing: 5px;
  }
h1{
  text-decoration: none;
  word-spacing: 20px;
  color: red;
  text-shadow: 1px 2px 1px gray;
}
p::selection{
  background: green;
  color: black;
  text-shadow: 1px 1px #fff;

}
